@{
    ViewData["Title"] = "SurfsUp";
}
<p>
    <a asp-action="Surfboards">View Surfboards</a>
</p>
<div class="text-center">
    <h1 class="display-4">Welcome To SurfsUp</h1>
    <img src="surfsup.png" alt="Not working"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
